.note-list {
  columns: 250px 4;
}

.note-preview-wrapper {
  break-inside: avoid;
}

.note img {
  width: 100%;
}

.note-container{
  flex-wrap: nowrap
}

.note {
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
  font-weight: bold;
  font-family: Preahvihear-Regular;
  /* width: 200px;
    height: 200px;
    margin: 5px; */
}
.note ul {
  margin: 7px;
}
button {
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.primarybtn {
  color: #000000;
  background-color: rgb(197, 194, 194);
  border: 1px solid black;
  transition: .5s;
}

.primarybtn:hover {
  background-color: #808080;
}

.primarybtn:active {
  box-shadow: 5px 5px 5px #363636;
  background-color: #808080;
}

.btns {
  color: #000000;
  background-color: #b3d0d7;
  border: 1px solid black;
}

.btns:hover {
  background-color: #759ca6;
}

.btns:active {
  box-shadow: 5px 5px 5px #2c4046;
  background-color: #b3d0d7;
}

.delete-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid rgb(193, 126, 126);
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 8px #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

.delete-btn:hover {
  background-color: rgb(245, 207, 207);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: .3s;
}

/* בקובץ הסגנון שלך (לדוג, styles.css) */
form {
  margin: 25px;
}

label {
  color: #000000;
  background-color: #b3d0d7;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;

}

input[type="file"] {
  display: none; /* הסתרת ה-input המקורי */
}

/* עיצוב עבור input[type="file"] במקרה של הקלקת ה-label */
label:hover {
  background-color: #759ca6;
  transition: background-color 0.3s ease;

}

label:active{
  box-shadow: 5px 5px 5px #2c4046;
  background-color: #b3d0d7;
}

