html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.background-image {
    background-image: url('https://s3.envato.com/files/256760017/coffee_laoctpre-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}