 .mail-list {
    background-color: var(--mail-bg-color);
    color:var(--mail-color);
    max-width: 100%;
    padding: 1em;
    border-radius: 0.5em;
 }

 .mail-list tr{
 box-shadow:1px 1px 0px var(--mail-shadow-color);
 font-size: 1.4em;
 
 }

.mail-list td{
  padding: 0.7em;  

}

.mail-list .deliveryDate{
   width:4em;
}


.mail-list tr:hover{
   box-shadow: 1px 1px 1px var(--mail-shadow-color);
    cursor: pointer;
}

.mail-list tr:hover button{
   display: inline;
   padding: 0.3em;
}

.mail-list tr:hover button:hover{
   background-color: var(--mail-shadow-color);
}


.search-box{
   margin: 1em; 
   font-size: 1.2em; 
}

.search-box button{
   border:none;
   padding: 0.3em;
  
   border-radius: 0.5em;
}



.search-box input{
   border-radius: 0.5em;
}

.mail-list button{
  display:none;
   border-radius: 50%;
   border: none;
   margin-right: 0.5em;
 
}

.mail-list tr:hover .deliveryDate{
   display: none;
}

.mail-list .star{
   color:var(--mail-color2)
}

.mail-list .star:hover{
   color:yellow;
}

.yellow{
   color:yellow;
}


.newMail{
   position: absolute;
   background-color: var(--mail-bg-color);
   height: 20em;
   width: 15em;
   padding: 1em;
   border: 1px solid var(--mail-shadow-color);
   bottom:0;
}

.newMail input{
   width: 100%;
}

.newMail button{
   background-color: var(--mail-bg-color-new-mail);
   border-radius: 0.7em;
   font-size: 1em;
   padding: 0.3em;
   margin-top: 1em;
   margin-left: 0.5em;
}

.newMail .body{
   height:60%;
   
}

.newMail button:hover{
   cursor: pointer;
}
